/** Liveness + version endpoints. */
import { Elysia } from 'elysia';
import { data } from '@peruri/ts-lib/response';

export function healthController(version: string) {
  return new Elysia()
    .get('/healthz', () => data('ok'))
    .get('/version', () => data(version));
}
